# Ignorar dependências locais
vendor/
node_modules/

# Ignorar arquivos do Git
.git/

# Ignorar arquivos temporários e logs
*.log
*.cache
*.tmp

# Ignorar arquivos de configuração local sensível
.env

# Ignorar pasta de storage local (cache, uploads temporários)
storage/
